<launch>
  <!-- This launchfile loads a differential drive robot into RViz, whose parameters are set
       and can be modified in diff_params.yaml -->

  <!-- load the urdf into the parameter server from the xacro file-->
  <param name="robot_description" command="xacro '$(find spotmicro_description)/urdf/spot.urdf.xacro'" />

  <!-- The robot_state_publisher reads the urdf from /robot_description parameter
       and listens to joint information on the /joint_states topic -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- rviz will enable us to see the robot. REQUIRED NODE - All other nodes terminate when RViz closes -->
  <node name="rviz" pkg="rviz" type="rviz" required="True" args="-d $(find spotmicro_commander)/rviz/spot.rviz"/>

</launch>